{% extends 'navbar.html' %}

{% block content %}

<div class="text-dark">
    <form action="" novalidate class="shadow p-5" method="POST" style="max-width: 500px; margin:auto;
      margin-top: 6pc; background-color: yellowgreen;">
        {% csrf_token %}
        <h3 class="alert border rounded ">Log In</h3>
        <div class="text-center">
            <i class="fas fa-sign-in-alt mt-1 mb-1"></i>
        </div>
        {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
          <p class="alert alert-danger my-3">{{error}}</p>
          {%endfor%}
        {%endif%}  
        {%for fm in form%}
        <div class="form-group mb-1">
            {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
        </div>
        {% endfor %}
        <div class="text-center" style="margin-top: 1pc;">
            <input class="btn btn-success" type='submit' value='Log In'
                style="margin-bottom: 1pc;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            <a class="btn btn-danger" href="{% url 'home' %}"
                style="margin-bottom: 1pc; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Cancel</a>
        </div>

        <small><a href="{% url 'resetpassword' %}">Forgot Password ?</a></small>
        <br>

    

    </form>

</div>


{% endblock %}