{% extends 'common.html' %}

{% block content %}


<div class="text-dark" >
  <form action="" method="POST" novalidate class="shadow p-5"
    style=" max-width: 500px; margin:auto;margin-top:4.8pc; background-color: yellowgreen;">
    <h3 class="alert border rounded ">Create your AJPS account.</h3>
    <!-- {% if messages %}
    {% for m in messages %}
    <p {% if message.tags %} class="alert mb-3" {% endif %}>{{ m }}</p>
    {% endfor %}
    {%endif%} -->
    {% csrf_token %}
    {% for fm in form %}
    <div class="form-group mb-1">
      {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
    </div>
    {% endfor %}
    <div class="text-center" style="margin-top: 1pc;">
      <input class="btn btn-success" type='submit' value='Submit'
        style="margin-bottom: 1pc;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
      <a class="btn btn-danger" href="{% url 'home' %}"
        style="margin-bottom: 1pc; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Cancel</a>
    </div>

    <div class="text-danger text-center " style=" position:absolute;"><small>
        Already have an account ?<a href="{% url 'login' %}" class="text-primary"> Log In</a></small>
    </div>

  </form>
</div>



{% endblock %}